td{
    text-align: center;
    width: 5000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    border-spacing: 10px;
    line-height: 50px;

}
img{
    width: 50px;
}

